<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734843003255-n8v5rets5mf8eg0ilnpvngllvr3lov2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734843003255-n8v5rets5mf8eg0ilnpvngllvr3lov2h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734843003255-ln2hi0ednsmfi0b9jkkbrnbiq1kjf0h8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhFJ-kCj5l7wVMSOUPdKNJjg_J5ap5yM</string>
	<key>GCM_SENDER_ID</key>
	<string>734843003255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aguiarco.ourmarket</string>
	<key>PROJECT_ID</key>
	<string>lisync</string>
	<key>STORAGE_BUCKET</key>
	<string>lisync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734843003255:ios:77c96ef24054da7e804172</string>
	<key>DATABASE_URL</key>
	<string>https://lisync-default-rtdb.firebaseio.com</string>
</dict>
</plist>